%ul
  - @date_hash.keys.sort.each do |year|
    %li.block{:id => "ent#{year}"}
      %a{:href => "#"}
        = year
      %ul
        - @date_hash[year].keys.sort.each do |month|
          %li.none{:id => "ent#{year}#{"%02d" % month}"}
            %a{:href => "#"}
              = Date.parse(year.to_s + '-' + month.to_s + "-1").strftime("%b")
            %ul
              - @date_hash[year][month].keys.sort.each do |day|
                %li.none
                  %a{:href => "/turnip/#{year}/#{month}/#{day}"}
                    = day


