- @entries.each do |entry|
  .entryhead
    .timestamp
      = format_time entry.created_at
    .subject
      = entry.subject
  %br.clearwide
  .entrybody
    = entry.entry
  %br.clear
  
%br.clear

.entrynav
  - if @previous
    .previous
      %a{:href => "#{turnip_link_from_time(@previous)}"}
        &lt;
        = format_time @previous.created_at if @previous
  - if @next
    .next
      %a{:href => "#{turnip_link_from_time(@next)}"}
        = format_time @next.created_at if @next
        &gt;

%br.clear

    
