- if @entries.empty?
  %p
    You seem to have deleted everything!
- @entries.each do |entry|
  - if get_user
    .entrycontrols.round
      %a{:href => "#", :id => "del#{entry.id};#{day_id(entry)[3..-1]}"}
        Delete
      |
      %a{:href => "#", :id => "edit#{entry.id}"}
        Edit
    %br.clear
  .entryhead
    .timestamp
      = format_time entry.created_at
    .subject
      = entry.subject
  %br.clearwide
  .entrybody
    = from_blue_cloth entry.entry
  %br.clear
  
%br.clear

.entrynav
  - if @previous
    .previous
      %a{:href => "#", :id => "#{day_id(@previous)}"}
        &lt;
        = format_time @previous.created_at if @previous
  - if @next
    .next
      %a{:href => "#", :id => "#{day_id(@next)}"}
        = format_time @next.created_at if @next
        &gt;

%br.clear

%script
  ajax_hovno();

    
